// Colour variables
$card-violet: hsl(263, 55%, 52%);
$card-grayish-blue: hsl(217, 19%, 35%);
$card-blackish-blue: hsl(219, 29%, 14%);
$card-white: hsl(0, 0%, 100%);
$Bg-grayish-blue: hsl(210, 46%, 95%);
$font-light-gray: hsl(0, 0%, 81%);

// font variables
$font-body: 0.8125rem;
$font-bold: 600;
$font-medium: 500;
$font-family: "Barlow Semi Condensed", sans-serif;

body {
    background: $Bg-grayish-blue;
    height: 100%;   
}

.testimonials {
        max-height: 50%;
        display: grid;
        margin: 150px 50px 100px 50px ;
        padding: 20px;
        grid-template-areas:
        "card1 card1 card2 card3"
        "card4 card5 card5 card3";
        grid-gap: 20px;

        .testimonial {
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0 0 10px rgb(212, 214, 216);
        display: flex;
        flex-flow: column;
        align-content: center;
        
        }

        .test1 {
        grid-area: card1;
        background: $card-violet;
        }

        .test2 {
        grid-area: card2;
        background: $card-grayish-blue;
        }

        .test3 {
            grid-area: card4;
            background: $card-white;
        }

        .test4{
            grid-area: card5;
            background: $card-blackish-blue;
        }

        .test5{
            grid-area: card3;
            background: $card-white;
        }
        h2{
            margin-top: 10px;
        }
        .comment{
            margin-top: 10px;
            align-items: stretch;
        }
}

.testimonial_header{
    display:flex;
    justify-content: start;
    align-items: center;

    img {
        border-radius: 200px;
    }
    .test_title{
        margin-left: 5px;
       
    }


    
}
