.test1, .test2, .test3, .test4, .test5 {
  border-radius: 10px;
  padding: 30px;
  -webkit-box-shadow: 0 0 10px #d4d6d8;
          box-shadow: 0 0 10px #d4d6d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.test1 .testimonial_header h3, .test2 .testimonial_header h3, .test4 .testimonial_header h3 {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.test1 .testimonial_header p, .test2 .testimonial_header p, .test4 .testimonial_header p {
  color: #b3b3b3;
  font-size: 1rem;
  margin-top: 8px;
}

.test1 h2, .test2 h2, .test4 h2 {
  color: white;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.test1 .comment, .test2 .comment, .test4 .comment {
  color: #b3b3b3;
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 2rem;
}

.test3 .testimonial_header h3, .test5 .testimonial_header h3 {
  color: #616161;
  font-size: 1.2rem;
  font-weight: 600;
}

.test3 .testimonial_header p, .test5 .testimonial_header p {
  color: gray;
  font-size: 1rem;
  margin-top: 8px;
}

.test3 h2, .test5 h2 {
  color: #616161;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.test3 .comment, .test5 .comment {
  color: gray;
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 2rem;
}

body {
  background: #ecf2f8;
  height: 100%;
}

.testimonials {
  height: 70%;
  display: -ms-grid;
  display: grid;
  margin: 100px auto;
  padding: 100px;
      grid-template-areas: "card1 card1 card2 card3" "card4 card5 card5 card3";
  grid-gap: 30px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .testimonials {
    margin: 50px auto;
        grid-template-areas: "card1 card2" "card4 card5" "card3 card3";
  }
}

.test1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: card1;
  background: #7541c8;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 100px;
  background-size: 140px;
}

.test2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card2;
  background: #48556a;
}

.test3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card4;
  background: white;
}

.test4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: card5;
  background: #19212e;
}

.test5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: card3;
  background: white;
}

.testimonial_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial_header img {
  border-radius: 50px;
}

.testimonial_header .test_title {
  margin-left: 20px;
}
/*# sourceMappingURL=styles.css.map */