// Colour variables
$color-card-violet: hsl(263, 55%, 52%);
$color-card-grayish-blue: hsl(217, 19%, 35%);
$color-card-blackish-blue: hsl(219, 29%, 14%);
$color-card-white: hsl(0, 0%, 100%);
$color-testimonial-bg: hsl(210, 46%, 95%);
$color-font-gray: hsl(0, 0%, 81%);

// font variables
$font-size-body: 1rem;
$font-size-name: 1.2rem;
$font-size-topic: 1.5rem;
$font-size-comment: 1.2rem;
$font-bold: 600;
$font-medium: 500;
$font-family: "Barlow Semi Condensed", sans-serif;

$line-height: 2rem;


// media-query mixins
@mixin media-query($size) {
  @if $size == tablet {
    @media screen and (min-width: 760px) and (max-width: 960px) {
      @content;
    }
  } @else if $size == mobile {
    @media screen and (max-width: 375px) {
      @content;
    }
  }
}

//style extend

%testimonial {
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgb(212, 214, 216);
  display: flex;
  flex-flow: column;
  align-content: center;
}

%font-header-colored {
  h3 {
    color: hsl(0, 0%, 100%);
    font-size: $font-size-name;
    font-weight: $font-bold;
  }
  p {
    color: hsl(0, 0%, 70%);
    font-size: $font-size-body;
    margin-top: 8px;
  }
}

%font-body-colored {
  h2 {
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
    font-size: $font-size-topic;
    font-weight: 600;
    line-height: $line-height;
  }
  .comment {
    color: hsl(0, 0%, 70%);
    font-size: $font-size-comment;
    margin-top: 20px;
    line-height: $line-height;
  }
}

%font-header-white {
  h3 {
    color: hsl(0, 0%, 38%);
    font-size: $font-size-name;
    font-weight: $font-bold;
  }
  p {
    color: hsl(0, 0%, 50%);
    font-size: $font-size-body;
    margin-top: 8px;
  }
}

%font-body-white {
  h2 {
    color: hsl(0, 0%, 38%);
    margin-top: 20px;
    font-size: $font-size-topic;
    font-weight: 600;
    line-height: $line-height;
  }
  .comment {
    color: hsl(0, 0%, 50%);
    font-size: $font-size-comment;
    margin-top: 20px;
    line-height: $line-height;
  }
}

//styling

body {
  background: $color-testimonial-bg;
  height: 100%;
}

.testimonials {
//   max-height: 70%;
  display: grid;
  margin: 150px auto 100px auto;
  padding: 10px;
  grid-template-areas:
    "card1 card1 card2 card3"
    "card4 card5 card5 card3";
  grid-gap: 30px;
  font-family: $font-family;
  @include media-query(mobile) {
        margin: 150px auto 100px auto;
        grid-template-areas:
        "card1"
        "card2"
        "card4"
        "card5"
        "card3";
  }

  .test1 {
    @extend %testimonial;
    grid-area: card1;
    background: $color-card-violet;
    @extend %font-body-colored;
    .testimonial_header {
      @extend %font-header-colored;
    }
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 100px;
    background-size: 140px;
  }
  .test2 {
    @extend %testimonial;
    grid-area: card2;
    background: $color-card-grayish-blue;
    @extend %font-body-colored;
    .testimonial_header {
      @extend %font-header-colored;
    }
  }

  .test3 {
    @extend %testimonial;
    grid-area: card4;
    background: $color-card-white;
    @extend %font-body-white;
    .testimonial_header {
      @extend %font-header-white;
    }
  }

  .test4 {
    @extend %testimonial;
    grid-area: card5;
    background: $color-card-blackish-blue;
    @extend %font-body-colored;
    .testimonial_header {
      @extend %font-header-colored;
    }
  }

  .test5 {
    @extend %testimonial;
    grid-area: card3;
    background: $color-card-white;
    @extend %font-body-white;
    .testimonial_header {
        @extend %font-header-white;
    }
  }
}

.testimonial_header {
  display: flex;
  justify-content: start;
  align-items: center;

  img {
    border-radius: 50px;
  }
  .test_title {
    margin-left: 20px;
  }
}
