.testimonials .test1, .testimonials .test2, .testimonials .test3, .testimonials .test4, .testimonials .test5 {
  border-radius: 10px;
  padding: 30px;
  -webkit-box-shadow: 0 0 10px #d4d6d8;
          box-shadow: 0 0 10px #d4d6d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.testimonials .test1 .testimonial_header h3, .testimonials .test2 .testimonial_header h3, .testimonials .test4 .testimonial_header h3 {
  color: white;
}

.testimonials .test1 .testimonial_header p, .testimonials .test2 .testimonial_header p, .testimonials .test4 .testimonial_header p {
  color: gray;
}

.testimonials .test1 h2, .testimonials .test2 h2, .testimonials .test4 h2 {
  color: white;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.testimonials .test1 .comment, .testimonials .test2 .comment, .testimonials .test4 .comment {
  color: gray;
  font-size: 1rem;
  margin-top: 20px;
  line-height: 1.5rem;
}

.testimonials .test3 .testimonial_header h3, .testimonials .test5 .testimonial_header h3 {
  color: #616161;
}

.testimonials .test3 .testimonial_header p, .testimonials .test5 .testimonial_header p {
  color: #b3b3b3;
}

.testimonials .test3 h2, .testimonials .test5 h2 {
  color: #616161;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.testimonials .test3 .comment, .testimonials .test5 .comment {
  color: #b3b3b3;
  font-size: 1rem;
  margin-top: 20px;
  line-height: 1.5rem;
}

body {
  background: #ecf2f8;
  height: 100%;
}

.testimonials {
  max-height: 50%;
  display: -ms-grid;
  display: grid;
  margin: 150px 50px 100px 50px;
  padding: 20px;
      grid-template-areas: "card1 card1 card2 card3" "card4 card5 card5 card3";
  grid-gap: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

@media screen and (max-width: 375px) {
  .testimonials {
    margin: 150px auto 100px auto;
        grid-template-areas: "card1" "card2" "card4" "card5" "card3";
  }
}

.testimonials .test1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: card1;
  background: #7541c8;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 100px;
  background-size: 140px;
}

.testimonials .test2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card2;
  background: #48556a;
}

.testimonials .test3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card4;
  background: white;
}

.testimonials .test4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: card5;
  background: #19212e;
}

.testimonials .test5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: card3;
  background: white;
}

.testimonial_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial_header img {
  border-radius: 200px;
}

.testimonial_header .test_title {
  margin-left: 10px;
}
/*# sourceMappingURL=styles.css.map */