%testimonial {
    height: auto;
    
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(212, 214, 216);
    display: flex;
    flex-flow: column;
  //   align-content: center;
  //   align-self: center;
  //    justify-items: stretch;
  }
  
  %font-header-colored {
    h3 {
      color: hsl(0, 0%, 100%);
      font-size: $font-size-name;
      font-weight: $font-bold;
    }
    p {
      color: hsl(0, 0%, 70%);
      font-size: $font-size-body;
      margin-top: 8px;
    }
    @include media-query(desktop-large){
      h3{
        font-size: 1.5rem ;
      }
      p{
        font-size: 1.3rem;
      }
    }
  }
  
  %font-body-colored {
    h2 {
      color: hsl(0, 0%, 100%);
      margin-top: 10px;
      font-size: $font-size-topic;
      font-weight: 600;
      line-height: $line-height-topic;
    }
    .comment {
      color: hsl(0, 0%, 70%);
      font-size: $font-size-comment;
      margin-top: 20px;
      line-height: $line-height;
    }
    @include media-query(desktop-large){
      .comment{
        font-size: 1.5rem;
      }
    }
  }
  
  %font-header-white {
    h3 {
      color: hsl(0, 0%, 38%);
      font-size: $font-size-name;
      font-weight: $font-bold;
    }
    p {
      color: hsl(0, 0%, 50%);
      font-size: $font-size-body;
      margin-top: 8px;
    }
    @include media-query(desktop-large){
      h3{
        font-size: 1.5rem ;
      }
      p{
        font-size: 1.3rem;
      }
    }
  }
  
  %font-body-white {
    h2 {
      color: hsl(0, 0%, 38%);
      margin-top: 20px;
      font-size: $font-size-topic;
      font-weight: 600;
      line-height: $line-height-topic;
    }
    .comment {
      color: hsl(0, 0%, 50%);
      font-size: $font-size-comment;
      margin-top: 20px;
      line-height: $line-height;
    }
    @include media-query(desktop-large){
      h2{
        font-size: 2rem;
      }
      .comment{
        font-size: 1.5rem;
      }
    }

  }