// Colour variables
$color-card-violet: hsl(263, 55%, 52%);
$color-card-grayish-blue: hsl(217, 19%, 35%);
$color-card-blackish-blue: hsl(219, 29%, 14%);
$color-card-white: hsl(0, 0%, 100%);
$color-testimonial-bg: hsl(210, 46%, 95%);
$color-font-gray: hsl(0, 0%, 81%);

// font variables
$font-size-body: 0.625rem;
$font-size-name: 0.625rem;
$font-size-topic: 0.8125rem;
$font-size-comment: 0.625rem;
$font-bold: 600;
$font-medium: 500;
$font-family: "Barlow Semi Condensed", sans-serif;

$line-height: 1rem;
$line-height-topic: 1.2rem;